{{#if siteSettings.flair_enabled}}
  <div class="control-group flair">
    <label class="control-label">Flair</label>
    <div class="controls">
      <label class='text-label'>
        {{input type="text" class="input-xxlarge" value=model.custom_fields.flair}}
      </label>
    </div>
    <div class="instructions">
        This will be displayed underneath your username on your posts.
      </div>
  </div>
{{/if}}
